/*#region Palette */

:root {
    --ft-dark: #0F0E17;
    --ft-mail: #61C0E1;
    --title-: #E53170;
}

/*#endregion Palette */

/*#region CommonRules*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}


/*#endregion CommonRules*/

/*#region Utilities*/

.clearfix {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: 5rem;
    float: left;
}

.container {
    width: 80%;
    margin: auto;
}

.card {
    float: left;
    width: calc(100% / 3);
    padding: 1rem;
}

/*#endregion Utilities*/

/*#region Header*/

header {
    text-align: center;
}

/*#endregion Header*/