/*#region Palette */

:root {
    --ft-dark: #0F0E17;
    --ft-mail: #61C0E1;
    --title-: #E53170;
    --shadow-: #D0D0CF;

}

/*#endregion Palette */

/*#region CommonRules*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

img {
    max-width: 100%;
    height: 4rem;
    float: left;
    padding-right: 0.8rem;
}

.container {
    width: 80%;
    margin: auto;
}


/*#endregion CommonRules*/

/*#region Utilities*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.mt2 {
    margin-top: 1rem;
}

.font_min {
    font-size: 0.9rem;
}

.mail {
    font-size: 0.8rem;
    color: #61C0E1;
}

/*#endregion Utilities*/

/*#region Header*/

header {
    text-align: center;
}

.title {
    font-family: 'Baloo 2', cursive;
    color: #E53170;
}

/*#endregion Header*/

/*#region Main*/

.card {
    float: left;
    width: calc(80% / 3);
    padding: 0.3rem;
    margin-right: 1.5rem;
    margin-top: 2.5rem;
    background-color: #0F0E17;
    color: white;
    font-family: 'Fredoka', sans-serif;
    box-shadow: 10px 10px #D0D0CF;
}

/*#endregion Main*/